/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Alata', sans-serif;
  color: #212529;
  line-height: 1.5;
  background: #F2F3F0;
}
body {
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alata', sans-serif;
  color: #342F48;
}
h1 {
  font-size: 3.8rem;
  text-shadow: 1px 1px 3px #F2F3F0;
}
h2 {
  font-size: 3.2rem;
  text-shadow: 1px 1px 3px #F2F3F0;
}
h3 {
  font-size: 3rem;
  text-shadow: 1px 1px 3px #F2F3F0;
}
h4 {
  font-size: 2.2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2% 0;
}
nav .nav-links {
  margin-top: 1%;
  overflow: hidden;
}
nav .nav-links .dropdown1,
nav .nav-links .dropdown2 {
  display: inline-block;
  margin-left: 6%;
}
@media (max-width: 500px) {
  nav .nav-links .dropdown1,
  nav .nav-links .dropdown2 {
    margin-left: 0;
  }
}
nav .nav-links .dropdown1:hover .drop-content,
nav .nav-links .dropdown2:hover .drop-content {
  display: block;
}
nav .nav-links .dropdown1 .dropbtn,
nav .nav-links .dropdown2 .dropbtn {
  display: inline-block;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
nav .nav-links .dropdown1 .drop-content,
nav .nav-links .dropdown2 .drop-content {
  display: none;
  position: absolute;
  background-color: #F2F3F0;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
nav .nav-links .dropdown1 .drop-content a,
nav .nav-links .dropdown2 .drop-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: center;
}
nav .nav-links .dropdown1 .drop-content a:hover,
nav .nav-links .dropdown2 .drop-content a:hover {
  background: #E66C4D;
}
nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav div .a-links {
  width: 15%;
}
@media (max-width: 800px) {
  nav div .a-links {
    width: 20%;
  }
}
@media (max-width: 500px) {
  nav div .a-links {
    text-align: center;
    width: 30%;
    border-bottom: 3px dotted #212529;
  }
}
nav div img {
  width: 8%;
}
@media (max-width: 800px) {
  nav div img {
    width: 11.5%;
  }
}
@media (max-width: 500px) {
  nav div img {
    width: 15%;
  }
}
nav div a {
  text-decoration: none;
  font-size: 1.8rem;
  color: black;
  display: inline-block;
  text-align: center;
}
nav div a:hover {
  background: #E66C4D;
}
@media (max-width: 500px) {
  nav div a {
    font-size: 1.6rem;
    padding: 0;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F2F3F0;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
  }
}
footer .footernav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  padding-left: 4%;
}
footer .footernav a {
  display: flex;
  flex-direction: row;
  justify-content: space-betwen;
  align-items: center;
  text-align: center;
}
@media (max-width: 500px) {
  footer .footernav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0;
  }
}
footer .copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
}
@media (max-width: 500px) {
  footer .copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 3%;
  }
}
footer .nature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  width: 33%;
}
footer .nature a {
  padding-left: 3%;
}
@media (max-width: 500px) {
  footer .nature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 2%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
.container .hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/turtles.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  padding: 3% 0;
}
.container .hello .hellocontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .hello .hellocontent h1 {
  text-align: center;
  background-color: rgba(242, 243, 239, 0.3);
  padding: 0 3% 1%;
  text-decoration: underline;
}
.container .hello .hellocontent h3 {
  text-align: center;
  flex-wrap: wrap;
  width: 80%;
  background-color: rgba(242, 243, 239, 0.3);
  padding: 0 1%;
}
.container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container .content div {
  width: 50%;
}
@media (max-width: 500px) {
  .container .content div {
    width: 100%;
  }
}
.container .content img {
  width: 50%;
}
@media (max-width: 500px) {
  .container .content img {
    width: 100%;
  }
}
.container .intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .intro .introcontent {
  width: 50%;
  height: 500px;
  background-color: #F2F3F0;
  padding: 4%;
}
@media (max-width: 500px) {
  .container .intro .introcontent {
    width: 100%;
  }
}
.container .intro .introimg {
  background-image: url("../img/tiger2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-color: #E48047;
  width: 50%;
  height: 500px;
  color: #F2F3F0;
  padding: 4%;
}
.container .intro .introimg p {
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  .container .intro .introimg {
    width: 100%;
  }
}
.container .intro .introimg button {
  background-color: #342F48;
  font-size: 1.8rem;
  border: none;
  color: #F2F3F0;
  border-radius: 10px;
  margin: 1% 0 0 0;
  cursor: pointer;
  display: inline;
}
.container .intro .introimg button:hover {
  background-color: #E66C4D;
}
@media (max-width: 500px) {
  .container .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container .banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.container .banner img {
  width: 100%;
}
.container .turtle {
  background-image: url("../img/turtle.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-color: #E48047;
  width: 50%;
  height: 500px;
  color: #F2F3F0;
  padding: 4%;
}
.container .turtle p {
  background-color: rgba(181, 122, 94, 0.15);
}
.container .noturtle {
  background-color: #F2F3F0;
  height: 500px;
  padding: 7% 4% 4% 4%;
}
.container .livefeed h2 {
  background-color: #B2B4BC;
  padding: 2% 4% 0 4%;
}
.container .livefeeddiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  width: 100%;
  background-color: #B2B4BC;
  padding: 2rem;
}
@media (max-width: 500px) {
  .container .livefeeddiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.container .livefeeddiv .campaignthumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 30%;
  background-color: #F2F3F0;
  padding: 2rem 0;
  border: #212529 1px solid;
}
@media (max-width: 500px) {
  .container .livefeeddiv .campaignthumb {
    width: 90%;
    margin-bottom: 5%;
  }
}
.container .livefeeddiv .campaignthumb h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem;
}
.container .livefeeddiv .campaignthumb img {
  margin-top: 1%;
  border: solid 1px #212529;
  width: 80%;
  align-self: flex-start;
}
.container .livefeeddiv .campaignthumb .feedcontent {
  background-color: #F2F3F0;
  border: solid 1px #B2B4BC;
  padding: 1%;
  text-align: center;
  max-height: 200px;
  min-height: 200px;
  overflow-y: scroll;
  width: 80%;
  margin: 1vw 0;
}
.container .livefeeddiv .campaignthumb p {
  padding: 3% 0;
}
.container .livefeeddiv .campaignthumb .campaign-cta {
  align-self: flex-end;
}
.container .livefeeddiv .campaignthumb button {
  background-color: #342F48;
  width: 12rem;
  height: 4rem;
  font-size: 1.8rem;
  border: none;
  color: #F2F3F0;
  border-radius: 10px;
  margin-top: 1%;
  cursor: pointer;
}
.container .livefeeddiv .campaignthumb button:hover {
  background-color: #E66C4D;
}
.container .contact {
  background-image: url("../img/giraffetexture.jpg");
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-color: #E48047;
  width: 100%;
}
.container .contact .contactus {
  background-color: rgba(181, 122, 94, 0.32);
  width: 100%;
  padding: 2% 4%;
}
.container .contact .contactus a {
  text-decoration: none;
  color: #212529;
}
.container .contact .contactus a:hover {
  text-decoration: none;
  color: #E66C4D;
}
.container .contact .contactus .media {
  margin-top: 1%;
}
.container .contact .contactus .media a {
  padding-right: 3%;
}
.team {
  width: 100%;
  background: #F2F3F0;
}
.team .background-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: url('/images/sea.jpg');
  height: 575px;
}
@media (max-width: 800px) {
  .team .background-img {
    height: 650px;
  }
}
@media (max-width: 500px) {
  .team .background-img {
    height: 860px;
  }
}
.team .background-img h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  position: absolute;
  font-size: 3.2rem;
  font-weight: bold;
  margin: 1.5% 0 0 2%;
}
@media (max-width: 800px) {
  .team .background-img h2 {
    writing-mode: horizontal-tb;
    position: relative;
    text-align: center;
    padding-top: 4%;
  }
}
@media (max-width: 500px) {
  .team .background-img h2 {
    writing-mode: horizontal-tb;
    position: relative;
    text-align: center;
    padding-top: 4%;
  }
}
.team .people-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  text-align: left;
  padding: 0 3%;
}
@media (max-width: 500px) {
  .team .people-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    text-align: center;
  }
}
.team .people-content h3 {
  font-size: 3.6rem;
}
@media (max-width: 500px) {
  .team .people-content h3 {
    font-size: 3.2rem;
  }
}
.team .people-content h4 {
  color: #342F48;
}
.team .people-content p {
  font-size: 2rem;
}
.team .people-content p:hover {
  color: #E66C4D;
}
.team img {
  border-radius: 50%;
  width: 240px;
}
.team a {
  text-decoration: none;
  color: black;
}
.team .people {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2%;
  padding-right: 20%;
}
@media (max-width: 800px) {
  .team .people {
    padding-top: 4%;
  }
}
@media (max-width: 500px) {
  .team .people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
    padding-right: 0;
  }
}
.team .reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2%;
  padding-left: 20%;
}
@media (max-width: 800px) {
  .team .reverse {
    padding-right: 10%;
  }
}
@media (max-width: 500px) {
  .team .reverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.team .react {
  height: 575px;
}
@media (max-width: 500px) {
  .team .react {
    height: 800px;
  }
  .team .react .people {
    padding-top: 7%;
  }
}
.team .ui {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: url('/images/leaf.jpg');
  height: 575px;
}
@media (max-width: 500px) {
  .team .ui {
    height: 800px;
  }
  .team .ui .people {
    padding-top: 7%;
  }
}
.quote {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
}
.quote div {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px dotted #212529;
}
.quote div h2 {
  color: #342F48;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .quote div h2 {
    font-size: 3rem;
  }
}
.quote div p {
  font-family: 'Handlee', cursive;
  font-size: 2.4rem;
  width: 30%;
  padding: 2%;
}
@media (max-width: 500px) {
  .quote div p {
    width: 75%;
    font-size: 2rem;
  }
}
.quote div h4 {
  font-size: 2.4rem;
}
