/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Alata', sans-serif;
  color: #212529;
  line-height: 1.5;
}
body {
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alata', sans-serif;
  color: #212529;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3% 0;
}
nav div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}
nav div img {
  width: 8%;
}
@media (max-width: 500px) {
  nav div img {
    width: 15%;
  }
}
nav div a {
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0 4%;
  color: black;
}
nav div a:hover {
  background: #E66C4D;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #F2F3F0;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
  }
}
footer .footernav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  padding-left: 4%;
}
footer .footernav a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
@media (max-width: 500px) {
  footer .footernav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 0;
  }
}
footer .copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
}
@media (max-width: 500px) {
  footer .copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 3%;
  }
}
footer .nature {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  width: 33%;
}
footer .nature a {
  padding-left: 3%;
}
@media (max-width: 500px) {
  footer .nature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 2%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .hello {
  background-image: url("../img/whale.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: scroll;
}
.container .intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .intro .introcontent {
  width: 50%;
  height: 500px;
  background-color: #F2F3F0;
}
.container .intro .introimg {
  background-image: url("../img/tiger2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-color: #E48047;
  width: 50%;
  height: 500px;
  border: solid green 3px;
  color: #F2F3F0;
}
.container .banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.container .banner img {
  width: 100%;
}
.container .livefeeddiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container .livefeeddiv .campaignthumb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.container .go .org {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/goat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-color: #E48047;
  height: 700px;
  border: solid yellow 3px;
}
.container .go .org button {
  width: 100%;
}
.container .go .support {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/fox.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-color: #E48047;
  height: 700px;
  border: solid green 3px;
}
.container .go .support button {
  width: 100%;
}
.container .contact {
  background-image: url("../img/giraffetexture.jpg");
  background-repeat: repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-color: #E48047;
  width: 100%;
}
.container .contact a {
  text-decoration: none;
  color: #212529;
}
.container .contact a:hover {
  text-decoration: none;
  color: #E66C4D;
}
.team {
  width: 100%;
  background: #F2F3F0;
}
.team .background-img {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: url('/images/sea.jpg');
  height: 575px;
}
@media (max-width: 500px) {
  .team .background-img {
    height: 875px;
  }
}
.team .background-img h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  position: absolute;
  font-size: 3.2rem;
  font-weight: bold;
  margin: 1.5% 0 0 2%;
}
@media (max-width: 500px) {
  .team .background-img h2 {
    writing-mode: horizontal-tb;
    position: relative;
    text-align: center;
    padding-top: 4%;
  }
}
.team .people-content {
  padding: 0 3%;
}
@media (max-width: 500px) {
  .team .people-content {
    padding: 0 0;
    text-align: center;
  }
}
.team .people-content h3 {
  font-size: 3.6rem;
}
.team .people-content h4 {
  color: #342F48;
}
.team .people-content p {
  font-size: 2rem;
}
.team .people-content p:hover {
  color: #E66C4D;
}
.team img {
  border-radius: 50%;
  width: 245px;
}
.team a {
  text-decoration: none;
  color: black;
}
.team .people {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2%;
  padding-right: 20%;
}
@media (max-width: 500px) {
  .team .people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4% 0;
    padding-right: 0;
  }
}
.team .reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2%;
  padding-left: 20%;
}
@media (max-width: 500px) {
  .team .reverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}
.team .react {
  height: 575px;
}
@media (max-width: 500px) {
  .team .react {
    height: 825px;
  }
  .team .react .people {
    padding-top: 7%;
  }
}
.team .ui {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: url('/images/leaf.jpg');
  height: 575px;
}
@media (max-width: 500px) {
  .team .ui {
    height: 825px;
  }
  .team .ui .people {
    padding-top: 7%;
  }
}
.quote {
  height: 300px;
  text-align: center;
}
@media (max-width: 500px) {
  .quote {
    height: 250px;
  }
}
.quote div {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote div p {
  font-size: 2rem;
  width: 30%;
  padding: 2%;
}
@media (max-width: 500px) {
  .quote div p {
    width: 75%;
  }
}
