.team {
    width: 100%;
    background: @white;

    .background-img {
        .bg-img(100%);
        background-image: url('/images/sea.jpg');
        height: 575px;

        @media @tablet {
            height: 650px;
        }

        @media @phone {
            height: 860px;
        }

        h2 {
            writing-mode: vertical-rl;
            text-orientation: upright;
            text-transform: uppercase;
            position: absolute;
            font-size: 3.2rem;
            font-weight: bold;
            margin: 1.5% 0 0 2%;

            @media @tablet {
                writing-mode: horizontal-tb;
                position: relative;
                text-align: center;
                padding-top: 4%;
            }

            @media @phone {
                writing-mode: horizontal-tb;
                position: relative;
                text-align: center;
                padding-top: 4%;
            }
        }

    }

    .people-content {
        .flex(column, center, flex-start);
        flex-wrap: nowrap;
        text-align: left;
        padding: 0 3%;

        @media @phone {
            .flex(column, center, center);
            padding: 0 0;
            text-align: center;
        }

        h3 {
            font-size: 3.6rem;

            @media @phone {
                font-size: 3.2rem;
            }
        }

        h4 {
            color: @purple;
        }

        p {
            font-size: 2rem;

            &:hover {
                color: @hover;
            }
        }
    }

    img {
        border-radius: 50%;
        width: 240px;

    }

    a {
        text-decoration: none;
        color: black;
    }

    .people {
        .flex(row, center, center);
        width: 100%;
        padding-top: 2%;
        padding-right:20%;

        @media @tablet {
            padding-top: 4%;
        }

        @media @phone {
            .flex(column, center, center);
            padding: 4% 0;
            padding-right: 0;
        }
    }

    .reverse {
        .flex(row-reverse, center, center);
        width: 100%;
        padding-top: 2%;
        padding-left: 20%;

        @media @tablet {
            padding-right: 10%;
        }

        @media @phone {
            .flex(column, center, center);
            padding: 0;
        }
    }

    .react {
        height: 575px;

        @media @phone {
            height: 800px;

            .people {
                padding-top: 7%;
            }
        }
    }

    .ui {
        .bg-img(100%);
        background-image: url('/images/leaf.jpg');
        height: 575px;

        @media @phone {
            height: 800px;

            .people {
                padding-top: 7%;
            }
        }
    }

}

.quote {
    .bg-img(100%);
    text-align: center;
    

    div {
        padding: 3%;
        .flex(column, center, center);
        border-bottom: 3px dotted @shark;

        h2 {
            color: @purple;
            text-transform: uppercase;

            @media @phone {
                font-size: 3rem;
            }
        }

        p {
            font-family: 'Handlee', cursive;
            font-size: 2.4rem;
            width: 30%;
            padding: 2%;

            @media @phone {
                width: 75%;
                font-size: 2rem;
            }
        }

        h4 {
            font-size: 2.4rem;
        }
    }
}