.team {
    width: 100%;

    .background-img {
        .bg-img(100%);
        background-image: url('/images/sea.jpg');
        height: 80vh;
    }

    img {
        border-radius: 50%;
        width: 245px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .people {
        .flex(row, center, center);
        width: 100%;
    }

    .reverse {
        .flex(row-reverse, center, center);
    }

    
}