section .contact{
    background-image: url('img/giraffetexture.jpg');
    background-repeat: none;
    background-color: @orange;
}

.button {
    background-image: linear-gradient(to bottom right, @orange, @purple);
}
