.flex (@direction, @justify, @align) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}

.btn-class (@width, @height, @color) {
    background-color: white;
    width: @width;
    height: @height;
    font-size: 1.8rem;
    border: none;
    color: @color;

    &:hover {
        background-color: @hover;
    }
}