nav {
    .flex(column, center, center);
    width: 100%;
    margin: 2% 0;

    .nav-links {
        margin-top: 1%;
        overflow: hidden;

        @media @phone {
            margin-bottom: 2%;
        }

        .dropdown1, .dropdown2 {
            display: inline-block;
            margin-left: 6%;

            @media @phone {
                margin-left: 0;
            }
            
            &:hover .drop-content {
                display:block;
            }
    
            .dropbtn {
                display: inline-block;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
    
            }
    
            .drop-content {
                .dropdown();
    
                a {
                    float: none;
                    text-decoration: none;
                    display: block;
                    text-align: center;
    
                    &:hover {
                        background: @hover;
                    }
                }
            }
        }
    }

    div {
        .flex(row, center, center);
        width: 100%;

        @media @phone {
            .flex(column, center, center);
        }
        
        .a-links {
            width: 15%;

            @media @tablet {
                width: 20%;
            }

            @media @phone {
                text-align: center;
                width: 30%;
                border-bottom: 3px dotted @shark;
                padding: 1% 0;
            }
        }

        img {
            width: 8%;

            @media @tablet {
                width: 11.5%;
            }

            @media @phone {
                width: 15%;
            }
        }
    
        a {
            text-decoration: none;
            font-size: 1.8rem;
            color: black;
            display: inline-block;
            text-align: center;

            &:hover {
                background: @hover;
            }

            @media @phone {
                font-size: 1.6rem;
                padding: 0;
            }
        }
    }
}



