nav {
    .flex(column, center, center);
    width: 100%;
    margin: 3% 0;

    div {
        .flex(row, center, center);
        flex-wrap: nowrap;
        width: 100%;
        margin: 5px 0;

        @media @phone {
            .flex(column, center, center);
        }
        
        .a-links {
            width: 15%;

            @media @phone {
                width: 30%;
                border-bottom: 3px dotted @shark;
                padding: 0 0 2%;
            }
        }

        img {
            width: 8%;

            @media @phone {
                width: 15%;
            }
        }
    
        a {
            text-decoration: none;
            font-size: 1.8rem;
            margin: 0 1%;
            padding: 0 2%;
            color: black;
            &:hover {
                background: @hover;
            }

            @media @phone {
                font-size: 1.6rem;
                margin: 0 3%;
                padding: 0;
            }
        }
    }
}

.nav-links {
    overflow: hidden;
    
    a {
        float: center;
        text-align: center;
        padding: 0 2%;
    }

    .dropdown1, .dropdown2 {
        float: center;
        overflow: hidden;

        &:hover .drop-content {
            display:block;
        }

        .dropbtn {
            padding: 0 2%;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .drop-content {
            .dropdown();

            a {
                float: none;
                text-decoration: none;
                display: block;
                text-align: left;

                &:hover {
                    background: @hover;
                }
            }
        }
    }
}

